
<%= yield %>
<br><br>
  <p> enter a number to fizzbuzz it</p>
  <br><br>
  <form action = '/' method='post'>
    <input type= 'number' name ='number'>
    <input type ='submit' value='fizzbuzz'>
  </form>
