<h1><font size='7'>fizzbuzz</font></h1>
<br>
<%= yield %>
  <p> enter a number to fizzbuzz it</p>
  <br>
  <form action = '/' method='post'>
    <input type= 'text' name ='number'>
    <input type ='submit' value='fizzbuzz'>
  </form>
