<!doctype html>
<html>
<div align=center>
<font face='consolas' font color='white'>
  <head>
    <title> FIZZBUZZ </title>
  <body background="http://randomwallpapers.net/gradient-blur-abstract-1920x1200-wallpaper410521.jpg">
    <br>
    <br>
    <br>
    <br>
    <%= yield %>
  </body>
</font>
</div>
</html>
