<!doctype html>
<html>
<div align=center>
<font face='consolas' font color='white'>
  <head>
    <title> FIZZBUZZ </title>
  <body background="http://cdn.pcwallart.com/images/gradient-background-wallpaper-3.jpg">
    <%= yield %>
  </body>
</font>
</div>
</html>
