<!doctype html>
<html>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<style type='text/css'>
    body{
      font-family: 'Comfortaa', sans-serif;
      color: white;
      background: url(http://all4desktop.com/data_images/original/4238069-background.jpg);
      background-size: 100%, cover;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-bottom: auto;
      margin-bottom: auto;
      margin-top:auto;
      float: none;
      text-align: center;

  }

    h1 {
      font-size: 45px;
  }

    button{
      font-family: 'comfortaa', sans-serif;
      border-width: medium;
      border-color: white;
      border-style: solid;
      border-radius: 20px;
      background-color: transparent;
      color: white;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      text-align: center;
      height: 35px;
  }

    .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: 'buzz';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 47px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button:active{
    position: relative;
    top: 2px;
  }
  button:focus{
    outline:none;
  }
  input {
    font-size: 20px;
    text-align: center;
    color: rgb(0,147,219);
    border-radius: 20px;
    border-color: transparent;
  }
  input:focus{
    outline:none;
  }

</style>
  <head>
    <title> fizzbuzz </title>
<body>
    <br><br><br><br>
    <h1>fizzbuzz</h1>
    <br>
    <%= yield %>
  </div>
</div>
  </body>
</font>
</div>
</html>
